<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="css/style.css" />
    <title>TGIF 113th Congress Senate Members - Attendance</title>
</head>

<body id="senatte">
    <div class="container-fluid main-wrapper">
        <header class="row">
            <div class="col-sm-6">
                <a href="index.html"><img class="img-fluid float-right rounded" src="img/logo.jpeg"
                        alt="logo TGIF" /></a>
            </div>
            <div class="col-sm-6 text-right ">
                <a href="mailto:info@tgif.net">
                    <i class="far fa-envelope" style="font: size 20px"></i>
                    <span class="glyphicon glyphicon-envelope"></span></a>
                <a href="mailto:info@tgif.net">info@tgif.net</a>
            </div>
        </header>
        <nav class=" col-sm-12 navbar-expand-sm navbar-light theme-light ">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a href="index.html" class="nav-link active">Home</a>
                </li>
                <li class="nav-item active dropdown">
                    <a href="index.html" class="nav-link active dropdown-toggle" data-toggle="dropdown">Congress 113</a>
                    <div class="dropdown-menu">
                        <a href="house-data.html" class="dropdown-item">House</a>
                        <a href="senate-data.html" class="dropdown-item">Senate</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a href="index.html" class="nav-link active dropdown-toggle" data-toggle="dropdown">Attendance</a>
                    <div class="dropdown-menu">
                        <a href="house-attendance.html" class="dropdown-item">House</a>
                        <a href="senate-attendance.html" class="dropdown-item">Senate</a>
                    </div>
                </li>
                <li class="nav-item active dropdown">
                    <a href="index.html" class="nav-link active dropdown-toggle" data-toggle="dropdown">Party
                        Loyalty</a>
                    <div class="dropdown-menu">
                        <a href="house-party-loyalty.html" class="dropdown-item">House</a>
                        <a href="senate-party-loyalty.html" class="dropdown-item">Senate</a>
                    </div>
                </li>
            </ul>
        </nav>
        <!--Table container-->
        <div id="app">
            <div class="row">
                <div class="col-sm-6">
                    <h2>Party Loyalty</h2>
                    <p>Those who consider themselves to be strong partisans, strong Democrats and strong Republicans
                        respectively,
                        tend to be the most faithful in voting for their party's nominee for office and legislation that
                        backs their
                        party's agenda. </p>
                </div>
                <div class="col-sm-6">
                    <h2>Senate at a glance</h2>
                    <table>
                        <thead class="tableStatistics">
                            <tr>
                                <th>Party</th>
                                <th>Number of Reps</th>
                                <th>% Voted with Prty</th>
                            </tr>
                        </thead>
                        <tbody id="tableParty" class="tableStatistics">
                            <tr>
                                <td>Democrats</td>
                                <td>{{statistics.nro_of_democrats}}</td>
                                <td>{{statistics.porc_voted_with_partyD}}</td>
                            </tr>
                            <tr>
                                <td>Republicans</td>
                                <td>{{statistics.nro_of_republicans}}</td>
                                <td>{{statistics.porc_voted_with_partyR}}</td>
                            </tr>
                            <tr>
                                <td>Independents</td>
                                <td>{{statistics.nro_of_independents}}</td>
                                <td>{{statistics.porc_voted_with_partyI}}</td>
                            </tr>
                            <tr>
                                <td>Total</td>
                                <td>{{statistics.nro_rep_total}}</td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 table-wrapper">
                    <h2>Least Loyal (Bottom 10% of Party)</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number Party Votes</th>
                                <th>% Party Votes</th>
                            </tr>
                        </thead>
                        <tbody id="leastLoyal">
                                <tr v-for="item in statistics.least_loyal">
                                        <td><a :href="item.url">{{item.first_name}}
                                                {{item.middle_name}} {{item.last_name}}</a></td>
                                        <td>{{item.total_votes}}</td>
                                        <td>{{item.votes_with_party_pct}}</td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-6 table-wrapper">
                    <h2>Most Loyal (Top 10% of Party)</h2>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Number Party Votes</th>
                                <th>% Party Votes</th>
                            </tr>
                        </thead>
                        <tbody id="mostLoyal">
                                <tr v-for="item in statistics.most_loyal">
                                        <td><a :href="item.url">{{item.first_name}}
                                                {{item.middle_name}} {{item.last_name}}</a></td>
                                        <td>{{item.total_votes}}</td>
                                        <td>{{item.votes_with_party_pct}}</td>
                                    </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer class="row">
            <div class="col-sm-12 theme-light  text-center">
                <span class="glyphicon glyphicon-copyright-mark"><i class="far fa-copyright"></i></span> TGIF 2019 |
                All rights Reserved
            </div>
        </footer>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script src="js/statistics.js">
    </script>
    <script src="https://kit.fontawesome.com/a94dd2a827.js" crossorigin="anonymous"></script>¯
</body>

</html>