

#image-about{
  width: 400px;
  height: auto;
}
#filters {
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 8px;
}
.table-wrapper{
  margin-top: 60px;
}
.tableStatistics, td, th{
text-align: center;
margin:20px;
border: 1px solid #e3e3e3;
padding: 0px 15px;
}
.row{
margin-right: auto; 
margin-left: auto;
}
.theme-light {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.main-wrapper {
  margin-top: 40px;
  padding-left: 8%;
  padding-right: 8%
}
label {
  padding: 0 5px;
  margin: 0 10px;
}

body {
  font: 16px "Montserrat", sans-serif;
  line-height: 1.8;
}
p {
  font-size: 16px;
}
footer {
padding-top: 30px;
}

